.image_debut {
    background-image: url(../img/photo/fraises.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height:30em;
    background-position: center 42%;
}

.texte-a-propos{
    margin-top:30px;
    margin-bottom:30px;
}

.plan{
    display:flex;
}

.plan img{width :90%}

.plan div{
    margin:auto;
}

.plan div p{
    padding-bottom : 80px;
}